<div class="font-mono w-64 mx-auto flex align-center justify-center my-5">
  <div class="flex-grow flex items-center justify-center">
    <img src="/images/tomster.png" width="16" class="mr-1" alt="Tomster">
    {{this.minesString}}
  </div>
  <button
    type="button"
    class="mx-5 flex justify-center items-center cursor-pointer"
    {{on "click" this.restart}}
  >
    <span>
      {{#if this.won}}
        😎
      {{else if this.lost}}
        😵
      {{else if this.revealing}}
        😨
      {{else}}
        🙂
      {{/if}}
    </span>
  </button>
  <div class="flex-grow flex items-center justify-center">
    🕔{{this.timeString}}
  </div>
</div>

<div class="font-mono border w-64 h-64 grid grid-rows-{{@height}} grid-cols-{{@width}} gap-0 mx-auto">
  {{#each (repeat @height) as |_ y|}}
    {{#each (repeat @width) as |_ x|}}
      {{#let (concat x ',' y) as |cell|}}
        <GameCell
          @value={{get this.board cell}}
          @revealed={{or this.over (contains cell this.revealedCells)}}
          @flagged={{contains cell this.flaggedCells}}
          @marked={{contains cell this.markedCells}}
          {{on "mousedown" (fn (mut this.revealing) true)}}
          {{on "mouseup" (fn (mut this.revealing) false)}}
          {{on "click" (fn this.reveal cell)}}
          {{on "contextmenu" (fn this.flag cell)}}
        />
      {{/let}}
    {{/each}}
  {{/each}}
</div>
