<div class="font-mono w-64 mx-auto flex align-center justify-center my-5">
  <div class="flex-grow flex items-center justify-center">
    {{svg-jar "bomb-solid" width=14 height=14 class="inline -mt-1 mr-1"}} {{this.minesString}}
  </div>
  <div class="mx-5 flex items-center">
    {{#if this.won}}
      😎
    {{else if this.lost}}
      😟
    {{else}}
      🙂
    {{/if}}
  </div>
  <div class="flex-grow flex items-center justify-center">
    {{svg-jar "clock-regular" width=14 height=14 class="inline mr-1"}} {{this.timeString}}
  </div>
</div>

<div class="font-mono border w-64 h-64 grid grid-rows-{{@height}} grid-cols-{{@width}} gap-0 mx-auto">
  {{#each (repeat @height) as |_ y|}}
    {{#each (repeat @width) as |_ x|}}
      {{#let (concat x ',' y) as |cell|}}
        <GameCell
          @value={{get this.board cell}}
          @revealed={{or this.over (contains cell this.revealedCells)}}
          @flagged={{contains cell this.flaggedCells}}
          @marked={{contains cell this.markedCells}}
          {{on "click" (fn this.reveal cell)}}
          {{on "contextmenu" (fn this.flag cell)}}
        />
      {{/let}}
    {{/each}}
  {{/each}}
</div>
