<div class="font-mono w-64 mx-auto flex align-center justify-center my-5">
  <div class="flex-grow flex items-center justify-center">
    <img src="/images/tomster.png" width="16" class="mr-1" alt="Tomster">
    {{this.minesString}}
  </div>
  <button
    type="button"
    class="pl-1 flex justify-center items-center cursor-pointer focus:outline-none"
    {{on "click" this.restart}}
  >
    {{#if this.won}}
      😎
    {{else if this.lost}}
      😵
    {{else if this.revealing}}
      😨
    {{else}}
      🙂
    {{/if}}
  </button>
  <div class="flex-grow flex items-center justify-center">
    🕔{{this.timeString}}
  </div>
</div>

<div class="flex items-center justify-center">
  <div class="font-mono border">
    {{#each (repeat this.height) as |_ y|}}
      <div class="flex">
        {{#each (repeat this.width) as |_ x|}}
          {{#let (concat x ',' y) as |cell|}}
            <GameCell
              @active={{eq cell this.activeCell}}
              @flagged={{contains cell this.flaggedCells}}
              @marked={{contains cell this.markedCells}}
              @over={{this.over}}
              @revealed={{or this.over (contains cell this.revealedCells)}}
              @value={{get this.board cell}}
              {{on "click" (fn this.reveal cell)}}
              {{on "contextmenu" (fn this.flag cell)}}
              {{on "mousedown" (fn (mut this.revealing) true)}}
              {{on "mouseup" (fn (mut this.revealing) false)}}
            />
          {{/let}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
